In [2]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import imageio

In [3]:
continents = pd.read_csv('/Users/Flo/spiced_projects/gapminder_project/data/continents.csv',sep=';')
life_exp = pd.read_excel('/Users/Flo/spiced_projects/gapminder_project/data/gapminder_lifeexpectancy.xlsx')
pop = pd.read_excel('/Users/Flo/spiced_projects/gapminder_project/data/gapminder_population.xlsx')
fertility = pd.read_csv('/Users/Flo/spiced_projects/gapminder_project/data/gapminder_total_fertility.csv')

In [5]:
#Transform the .xlsx to .csv for consistency in data
life_exp.to_csv('data/life_exp.csv',encoding='utf-8',index=False)
pop.to_csv('data/pop.csv',encoding='utf-8',index=False)

life_exp = pd.read_csv('life_exp.csv')
pop = pd.read_csv('pop.csv')

In [5]:
# Have a look at the data
continents.head()
life_exp.head()
pop.head()
fertility.head()

,Total fertility rate,1800,1801,1802,1803,1804,1805,1806,1807,1808,...,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
0,Abkhazia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,7.00,7.00,7.00,7.00,7.00,7.00,7.00,7.00,7.00,...,6.70,6.46,6.20,5.93,5.66,5.40,5.14,4.90,4.68,4.47
2,Akrotiri and Dhekelia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Albania,4.60,4.60,4.60,4.60,4.60,4.60,4.60,4.60,4.60,...,1.85,1.80,1.76,1.74,1.74,1.75,1.76,1.77,1.78,1.78
4,Algeria,6.99,6.99,6.99,6.99,6.99,6.99,6.99,6.99,6.99,...,2.58,2.66,2.73,2.78,2.82,2.83,2.82,2.80,2.76,2.71

In [6]:
# Drop the countries with too little data. Threshold based on trial and error, to keep the majority of the data

fertility.dropna(thresh= round(len(fertility) * 0.80),inplace=True)
pop.dropna(thresh= round(len(pop) * 0.30),inplace=True)
life_exp.dropna(thresh= round(len(life_exp) * 0.80),inplace=True)

In [8]:
# Set index
life_exp.set_index('Life expectancy',inplace=True)
pop.set_index('Total population',inplace=True)
fertility.set_index('Total fertility rate',inplace=True)

In [9]:
# Keep 2000 and rename to keep data type
for year in pop.columns:
    # Keep only one col and rename to keep data name
    life_exp_var = life_exp[[f'{year}']]
    life_exp_var.columns = ['Life expectancy']
    pop_var = pop[[f'{year}']]
    pop_var.columns = ['Total population']
    fer_var = fertility[[f'{year}']]
    fer_var.columns = ['Total fertility']
    #Concat everything
    concat_var = pd.concat([life_exp_var,pop_var,fer_var],axis=1,join='inner')
    # Join continents
    Full_var = continents.merge(concat_var,how='left',left_on='country',right_index=True)
    #Plot
    sns.set_context("talk", font_scale=0.8)
    plt.figure(figsize=(10,6))
    sns.scatterplot(data=Full_var,
                    x='Life expectancy',
                    y='Total fertility',
                    hue='continent',
                    size='Total population',
                    sizes=(50,5000),
                    alpha=.75,)
    plt.legend(bbox_to_anchor=(1.05, 1),borderaxespad=0)
    plt.title('Life expectancy over fertility rate in ' f'{year}')
    plt.axis((15,85,0.8,8))
    plt.savefig('Figure/'f'{year}''.jpg',dpi=100)
    plt.close()

In [15]:
images = []

for year in pop.columns:
    filename = 'Figure/'f'{year}''.jpg'.format(i)
    images.append(imageio.imread(filename))

imageio.mimsave('Gapminder_Project_Florian.gif', images, fps=7)

#I moved the file and it now through an error, I don't understand why and I don't have the time to fix it

NameError: name 'i' is not defined